 service: {{SERVICE_NAME}} # Needs deploy tag to make outputs unique https://github.com/serverless/serverless/issues/9361#issuecomment-1111296767

{{PLUGINS}}
frameworkVersion: "3"

provider:
  name: aws
{{PROVIDER_CONFIG}}
{{IAM_ROLE_STATEMENTS}}

  {{IMAGES}}

package:
  individually: true # Package each function as an individual artifact (default: false)

custom:
  retryLambdaServiceFailure: # Custom retry policy for all lambdas
    - ErrorEquals:
        - "Lambda.ServiceException"
        - "Lambda.AWSLambdaException"
        - "Lambda.SdkClientException"
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
  authorizer:
    type: CUSTOM
    authorizerId: !ImportValue ApiGatewayAuthorizerId-${env:DEPLOY_TAG}
  aws:
    tags: ${file(serverless_global_config.yml):tags}
    KmsMasterKeyId: ${file(serverless_global_config.yml):common.kms.ndl.key.${env:AWS_ACCOUNT_NAME}}
  {{IMPORT_API_GATEWAY}}
  {{S3_CLEANER_BUCKETS}}

{{FUNCTIONS}}

{{RESOURCES}}
